.formDiv {
  min-height: 80%;
  width: 500px;
  height: 600px;
  background-color: var(--color-white);
  padding: 2rem;
  max-width: 95%;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.title {
  font-weight: var(--font-weight-bold);
  font-size: 24px;
}
.row {
  width: 100%;
  display: flex;
  gap: 10px;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 500px) {
  .formDiv {
    height: 90%;
  }
}
